* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

h1 {
  color: #ffffff;
  margin-left: 30px;
  margin-top: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px;
  margin-top: 0;
  gap: 20px;

}

.card,
.card-1 {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 2);
}

.card {

  justify-content: center;
}



.card-2 {
  background-color: white;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 2);
  margin: 30px;
  padding-bottom: 30px;

}

.card-header {
  background-color: #204060;
  color: white;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.card-body {
  padding: 1rem;
  justify-content: center;

}

.card-body img {
  width: 50%;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

.caption {
  margin-top: 10px;
  color: #333;
  font-size: 0.95rem;
  text-align: center;
}

header {
  background-color: #1f4a66;
  justify-content: center;
  align-items: center;

}

/* Profile section */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile img {
  width: 80px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 2);
}




















#menuButton {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}



/* Navigation bar */
nav {
  background-color: #000;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;

}

nav ul li a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

/* Active link styling */
nav ul li a.active-1 {
  color: #ffeb3b;

}

nav ul li a:active {
  color: #ffeb3b;
  transition: color 0.3s ease;
}


/* Hover effect */
nav ul li a:hover {
  background-color: #333;
  color: #ffeb3b;
}

.filter-buttons button{
  color: white;
  background-color: black;
  
  padding: 8px 55px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: background-color 0.1s ease-in;

}

.filter-buttons-Btn-1:hover {
  background-color: #222121;
  cursor: pointer;
}

.filter-buttons-Btn-1:active {
  color: yellow;
  transition: color 0.1s ease-in;

}

.filter-buttons {
  border-bottom: 1.5px solid #7b7676d6;
  justify-content: space-between;
}

.course-buttons {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  cursor: pointer;

}


.course {
  color: white;
  border: solid rgba(38, 30, 30, 0.509);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  margin: 10px;

}

.completed {
  background-color: #712b1f;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;

}

.notcompleted {
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;





}



footer {
  background-color: #204060;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

footer img {
  height: 14px;
  vertical-align: middle;
}