@media (max-width: 700px) {
  #menuButton {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
  }

  .profile img {
    width: 40px;
    border-radius: 2px;
    margin-right: 10px;
  }

  h1 {
    font-size: 1.2rem;
    color: white;
  }

  #mainNav {
    display: none;
  }

  #mainNav.show {
    display: block;
    width:  100%;
    position: absolute; 
    right: 0;
    top: 10;
  }

  #mainNav ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #000;
    width: 100%;
  }

  #mainNav li {
    margin-bottom: 10px;
  }

  #mainNav a {
    color: white;
    text-decoration: none;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
  }

  .filter-buttons {
    flex-direction: column;
  }

  .filter-buttons button {
    width: 100%;
    margin: 5px 0;
  }

.course,
.completed,
.notcompleted{
  padding: 8px 50px;
}


}
