/* Responsive */
@media (max-width: 700px) {
 
  nav ul {
    display: flex;
    flex-direction: column;
    background-color: #204060;
    position: absolute;
    right: 0;
    top: 40px;
    width: 150px;
    gap: 1rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    margin: 0;
  }
  
  #menuButton {
    display: block;
    margin: 10px;
    justify-content: right;
  }
  

  

}