/* Responsive */

@media (max-width: 700px) {
  #menuButton {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

  #mainNav {
    display: none;
  }

  #mainNav.show {
    display: block;
  }

  #mainNav ul {
    flex-direction: column;
    padding: 10px;
    background-color: #000;
  }

  #mainNav li {
    margin: 0 0 10px 0;
  }

  #mainNav a {
    color: white;
  }
}
